<!doctype html>
<html lang="ro">



<head>
  <%- include("../fragmente/head", { titlu: "Galerie animată - SportGear" }) %>
</head>


<body>
  <%- include("../fragmente/header") %>

  <main>
    <section id="galerie-animata" class="sectiune-galerie-animata">
      <h2>Galerie animată SportGea r</h2>

      <p>
        Galeria folosește un număr aleator par de imagini din JSON. La hover, animația se oprește.
      </p>

      <% if (imaginiGalerieAnimata.length >=6) { %>
        <div class="galerie-animata" style="--nr-imagini:<%= imaginiGalerieAnimata.length %>;">
          <% imaginiGalerieAnimata.forEach(function(imagine, index) { %>
            <figure style="--i:<%= index %>;">
              <img src="<%= imagine.cale_mare %>" alt="<%= imagine.alt %>">
              <figcaption><%= imagine.nume %></figcaption>
            </figure>
          <% }) %>
        </div>
      <% } else { %>
        <p>Nu sunt suficiente imagini distincte pentru galeria animată.</p>
      <% } %>
    </section>
  

  <a href="#galerie-animata" id="link-top">Înapoi sus</a>
  </main>

  <%- include("../fragmente/footer") %>
</body>


</html>


