<!doctype html>
<html lang="ro">



<head>
  <%- include("../fragmente/head", { titlu: "Galerie statică - SportGear" }) %>
</head>

<body>
  
  <%- include("../fragmente/header") %>


  <main class="pagina-galerie">
    <section id="galerie-statica" class="sectiune-galerie">
      <h2>Galerie statică</h2>


      <p>
        Aici sunt prezentate imagini reprezentative pentru produsele SportGear.
        Imaginile sunt afișate în funcție de momentul zilei:
      <strong><%= timpGalerie %></strong>.
      </p>

      <div class="galerie-statica-grid">
        <% if (typeof imaginiGalerie !== "undefined" && imaginiGalerie.length > 0) { %>



          <% for (let imagine of imaginiGalerie){ %>
            <figure>
              <picture>
                <source media="(max-width: 700px)" srcset="<%= imagine.cale_mica %>">
                <source media="(max-width: 1100px)" srcset="<%= imagine.cale_medie %>">

                <img
                  src="<%= imagine.cale_mare %>"
                  alt="<%= imagine.alt %>"
                  title="<%= imagine.nume %>">
              </picture>

              <figcaption>
                <%= imagine.nume %> -<%= imagine.descriere %>
              </figcaption>

              <small>
                Licență: <%= imagine.licenta %> |
                Autor: <%= imagine.autor %> |
                Sursă:<%= imagine.sursa %>
              </small>
            </figure>
          <% } %>

        <% } else { %>
        <p>Nu există imagini disponibile pentru această perioadă.</p>
        <% } %>

      </div>
    </section>

    <a href="#galerie-statica" id="link-top">Înapoi sus</a>
  </main>

  <%- include("../fragmente/footer") %>

</body>


</html>



